div {
  width: 550px;
  height: 350px;
  color: white;
  background-color: red;
  background-image: url(img/content-is-like-water.jpg);
  background-position: top;
  background-repeat: no-repeat;
  margin: 1%;
  float: left;
}

br {
  clear: both;
}

#bg1 {
  background-size: contain;
}
#bg2 {
  background-size: cover;
}
#bg {
  background-size: auto;
}
