div {
    width: 550px;
    height: 350px;
    color: white;
    background-color: red;
    background-position: top;
    background-repeat: no-repeat;
    margin: 1%;
    float: left;
}
br {
    clear: both;
}
.div1 {
    background-image: url(img/disenio-fluido.jpg);
}
.div2 {
    background-image: url(img/content-is-like-water.jpg);
}
.bg1 {
    background-size: contain;
}
.bg2 {
    background-size: cover;
}
.bg {
    background-size: auto;
}
